.modal {
    width: 72vw;
    height: 80vh;
    margin: 3vh auto;
}

.form {
    height: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.form::-webkit-scrollbar {
    display: none;
}

.nicknameTooltip {
    color: #ccc;
    border-bottom: 2px dashed;
    width: max-content;
    cursor: pointer;
}

.totalContainer {
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 6px 3px;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.totalPrice {
    font-weight: 700;
    font-size: 26px;
    align-self: center;
    margin-right: 20px;
}

.successSection {
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 20vh;
    left: 30vw;
}

.successTitle {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.successSubtitle {
    text-align: center;
    font-weight: 400;
    width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
    .totalContainer {
        flex-direction: column;
        justify-content: center;
    }

    .priceContainer {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .priceContainer span {
        margin: 0 0 6px 0;
    }

    .summarySubtitle {
        text-align: center;
    }
}